*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main{
    width: 100%;
    background-color: rgb(37, 37, 37);
}

.parent{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 700vh;
    
}

.container{
    width: 100%;
    height: min-content;
    /* background-color: red; */
    position: sticky;
    top: 0;
    left: 0;
}

canvas{
    width: 100%;
    height: min-content;
}